.borderCard {
  border: 2px solid #0f4cae;
}

.v-divider {
  background-color: #0f4cae;
}

/* Importer la police de Dragon Ball Z */
@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");

/* Appliquer la police de Dragon Ball Z au titre */
#title {
  font-family: "Kavoon", cursive;
  font-size: 3rem;
  text-align: center;
  color: #0f4cae;
  padding: 10px;
}

/* Animer le titre lors du hover */
#title:hover {
  animation: title-hover 0.5s ease-in-out forwards;
  color: #fd2a65;
  padding: 12px;
}

/* Animer le titre lors du hover */
@keyframes title-hover {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.borderCard {
  border: 2px solid #0f4cae;
}

.v-divider {
  background-color: #0f4cae;
}

#todoCard:hover {
  transform: scale(1.08);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4;
}

#todoCard:hover h3 {
  transform: translateX(5px);
}

#todoCard:hover p {
  transform: translateX(10px);
}

#heart:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
}

#check:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
}
